{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-wrapper">
    <section class="Login-wrap ptb-100">
        <div class="container">
            <div class="account-wrapper">
                <div class="account-area">
                    <h5 class="account-title">Your account has been blocked, to contact support, click &nbsp;<a style="color:blue" href="{% url 'contact' %}">here</a></h5>
                    <p style="color:red">Reason : <br>{% autoescape off %}{{user.block_reason}}{% endautoescape %}</p>
                    <p>return to <a href="{% url 'index' %}">Home</a></p>
                    
                    
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}