
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-wrapper">
    <section class="Login-wrap ptb-100">
        <div class="container">
            <div class="account-wrapper">
                <div class="account-area">
                    <h5 class="account-title">Your account is still pending activation,you will get an email and sms comfirmation once complete</h5>
                <p>return to <a href="{% url 'index' %} " class="link style1">Home</a></p>
                </div>
            </div>
        </div>
   </section>
</div>


{% endblock %}
