{% extends 'dashboard-base.html' %}
{% load static %}
{% load mytags %}
{% load humanize %}
{% block content %}
<div class="user-content">

    <!-- Wallet Card -->
    <div class="section wallet-card-section pt-1 mt-5">
        <div class="wallet-card">
            <h2>
                <span  style="color:rgba(0, 0, 0, 0.915)"> Hi, Welcome back! </span><br>
               {{user.name|upper}}</h2>
            <!-- Balance -->
            <div class="balance mb-0">
                <div class="left">

                    <span class="title">Account Balance</span>

                    <h2 class="total">{{user.wallet.currency.code}} {{user.wallet.available_balance|to_decimal|intcomma}}</h2>
                    
                </div>
            
                <div class="right">
                    <a href="{% url 'transfer' %}" class="button bg-warning" >
                        <ion-icon style="color:white" name="arrow-forward-outline"></ion-icon>
                       
                    </a>
                    <strong>Send Money</strong>
                </div>
            </div>
            <div class="balance mt-0">
                <div class="left">
                    
                    <span class="title">Ledger Balance</span>
                    <h1 class="total">{{user.wallet.currency.code}} {{user.wallet.ledger_balance|to_decimal|intcomma}}</h1>
                    
                </div>
            
            </div>
            <!-- * Balance -->
            <!-- Wallet Footer -->
            <div class="wallet-footer">
                <!--div class="item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#withdrawActionSheet">
                        <div class="icon-wrapper bg-danger">
                            <ion-icon name="arrow-down-outline"></ion-icon>
                        </div>
                        <strong>Withdraw</strong>
                    </a>
                </div->
                <div class="item">
                    <a href="{% url 'transfer' %}" data-bs-toggle="modal" data-bs-target="#sendActionSheet">
                        <div class="icon-wrapper">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                        <strong>Send Money</strong>
                    </a>
                </div>
                <!--div class="item">
                    <a href="#0">
                        <div class="icon-wrapper bg-success">
                            <ion-icon name="card-outline"></ion-icon>
                        </div>
                        <strong>Cards</strong>
                    </a>
                </div>
                <div class="item">
                    <a href="#0" data-bs-toggle="modal" data-bs-target="#exchangeActionSheet">
                        <div class="icon-wrapper bg-warning">
                            <ion-icon name="swap-vertical"></ion-icon>
                        </div>
                        <strong>Support Ticket</strong>
                    </a>
                </div-->

            </div>
            <!-- * Wallet Footer -->
        </div>
    </div>
    <!-- Wallet Card -->



    <!-- Stats -->
    <div class="section">
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Income</div>
                    <div class="value text-success" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.income|to_decimal|intcomma}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Expenses</div>
                    <div class="value text-danger" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.expense|to_decimal|intcomma}}</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Total Charges Paid</div>
                    <div class="value" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.bills|to_decimal|intcomma}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Pending charges</div>
                    <div class="value" style="opacity: 0.8;">{{user.wallet.currency.code}} {{user.wallet.savings|to_decimal|intcomma}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Stats -->

    <!-- Transactions -->
    <div class="section mt-4 pt-3">
        <div class="section-heading">
            <h2 class="title">Recent Transactions</h2>
            <a href="{% url 'transaction-history' %}" class="link">View All</a>
        </div>
        

        {% if not recent_transactions %}
        <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">You have no transactions yet</span>

        </div>
        {% else %}

      
                  <div class="table-responsive" style="max-width: 700px;">
                    <table class="table table-striped">
                      <tr>
                     
                        <th>Trnsaction ID</th>
                        <th>Transaction Type</th>
                        <th>Rceipient</th>
                        <th>Account Number</th>
                        <th>Amount</th>
                        <th>Charge</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Status Log</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    
                      {% for transact in recent_transactions %}
                      <tr>
                        
                        <td>{{transact.transaction_id}}</td>
                        {% ifequal transact.transaction_type "credit" %}
                        <td style="color:green">{{transact.transaction_type}}</td>
                        {% else %}
                        <td style="color:red">{{transact.transaction_type}}</td>
                        {% endifequal %}
                        
                        {% ifequal transact.nature "Internal Transfer" %}
                        <td>{{transact.receiver|default:"-"}}</td>
                        <td>{{transact.receiver.account_number|default:"-"}}</td>
                  
                        {% else %}
                      
                        <td>{{transact.account_name|default:"-"}}</td>
                        <td>{{transact.account_number|default:"-"}}</td>
                         
                        {% endifequal %}

                        {% ifequal transact.transaction_type "credit" %}
                        <td style="color:green">+{{user.wallet.currency.code}} {{transact.amount|to_decimal|intcomma}}</td>
                        {% else %}
                        <td style="color:red">-{{user.wallet.currency.code}}  {{transact.amount|to_decimal|intcomma}}</td>
                        {% endifequal %}
       
                        <td style="color:red">-{{user.wallet.currency.code}} {{transact.charge|to_decimal|intcomma}}</td>
                      
                      
                        {% if transact.description %}
                        <td>{{transact.description}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        {% ifequal transact.status  "failed" %}
                        <td><div class="badge badge-danger">Failed</div></td>
                        {% else %}
                          {% ifequal transact.status  "processing" %}
                          <td><div class="badge badge-warning">Processing</div></td>
                          {% else %}
                          {% ifequal transact.status  "pending" %}
                          <td><div class="badge badge-info">Pending</div></td>
                          {% else %}
                          {% ifequal transact.status  "successful" %}
                          <td><div class="badge badge-success">successful</div></td>
                          {% endifequal %}
                          {% endifequal %}
                        {% endifequal %}
                        {% endifequal %}
                        
                       
                        <td>{{transact.status_message|default:"-"}}</td>
                        <td>{{transact.show_date}}</td>
                        <td>
                         
                          {% ifequal transact.status 'pending' %}
                          <a href="{% url 'complete-transaction' transact.transaction_id %}"><div class="badge badge-primary">finalize</div></a>
                          {% else %}
                          -
          
                          {% endifequal %}
                        </td>
                        
                       
                       
                        
                      </tr>
                      {% endfor %}
                  
                    </table>
                  </div>
       

        {% endif %}
    </div>
    <!-- * Transactions -->


      <!-- Transactions -->
      <div class="section mt-4 pt-3">
        <div class="section-heading">
            <h2 class="title">Pending Transactions</h2>
            <a href="{% url 'transaction-history' %}" class="link">View All</a>
        </div>
        

        {% if not recent_pending_transactions %}
        <div class="status status-empty">
            <div class="status-icon">
                <em class="ti ti-files"></em>
                <div class="status-icon-sm">
                    <em class="ti ti-close"></em>
                </div>
            </div>
            <span class="status-text">You have no pending transactions</span>

        </div>
        {% else %}


          <div class="table-responsive" style="max-width: 700px;">
                    <table class="table table-striped">
                      <tr>
                     
                        <th>Trnsaction ID</th>
                        <th>Transaction Type</th>
                        <th>Rceipient</th>
                        <th>Account Number</th>
                        <th>Amount</th>
                        <th>Charge</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Status Log</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    
                      {% for transact in recent_pending_transactions %}
                      <tr>
                        
                        <td>{{transact.transaction_id}}</td>
                        {% ifequal transact.transaction_type "credit" %}
                        <td style="color:green">{{transact.transaction_type}}</td>
                        {% else %}
                        <td style="color:red">{{transact.transaction_type}}</td>
                        {% endifequal %}
                        
                        {% ifequal transact.nature "Internal Transfer" %}
                        <td>{{transact.receiver|default:"-"}}</td>
                        <td>{{transact.receiver.account_number|default:"-"}}</td>
                  
                        {% else %}
                      
                        <td>{{transact.account_name|default:"-"}}</td>
                        <td>{{transact.account_number|default:"-"}}</td>
                         
                        {% endifequal %}

                        {% ifequal transact.transaction_type "credit" %}
                        <td style="color:green">+{{user.wallet.currency.code}} {{transact.amount|to_decimal|intcomma}}</td>
                        {% else %}
                        <td style="color:red">-{{user.wallet.currency.code}}  {{transact.amount|to_decimal|intcomma}}</td>
                        {% endifequal %}
       
                        <td style="color:red">-{{user.wallet.currency.code}} {{transact.charge|to_decimal|intcomma}}</td>
                      
                      
                        {% if transact.description %}
                        <td>{{transact.description}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td><div class="badge badge-info">Pending</div></td>
                        
                       
                        <td>{{transact.status_message|default:"-"}}</td>
                        <td>{{transact.show_date}}</td>
                        <td>
                         
                          {% ifequal transact.status 'pending' %}
                          <a href="{% url 'complete-transaction' transact.transaction_id %}"><div class="badge badge-primary">finalize</div></a>
                          {% else %}
                          -
          
                          {% endifequal %}
                        </td>
                        
                       
                       
                        
                      </tr>
                      {% endfor %}
                  
                    </table>
                  </div>

        {% endif %}
    </div>
    <!-- * Transactions -->


</div>

{% endblock %}