{% extends 'dashboard-base.html' %}
{% load static %}
{% load mytags %}
{% load humanize %}

{% block content %}
<div class="user-content">
    <div class="user-panel">

        <h2 class="user-panel-title">Transactions</h2>
        <div class="table-responsive">
            {% if not user.has_transaction %}
            {% include "empty.html" with text=" You have no transactions to show, They will appear here." %}
            {% else %}

            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#pending-trx">
                        Pending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#failed">
                        Failed
                    </a>
                </li>
            </ul><!-- .nav-tabs-line -->

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all">
                    {% if all_transactions %}
                    <div class="table-responsive" style="max-width: 700px;">
                        <table class="table ">
                          <tr>
                         
                            <th>Trnsaction ID</th>
                            <th>Transaction Type</th>
                            <th>Recipient</th>
                            <th>Account Number</th>
                            <th>Amount</th>
                            <th>Charge</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Status Log</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        
                          {% for transact in all_transactions %}
                          <tr>
                            
                            <td>{{transact.transaction_id}}</td>
                            {% if transact.transaction_type == "credit" %}
                            <td style="color:green">{{transact.transaction_type}}</td>
                            {% else %}
                            <td style="color:red">{{transact.transaction_type}}</td>
                            {% endif %}
                            
                            {% if transact.nature "Internal Transfer" %}
                            <td>{{transact.receiver|default:"-"}}</td>
                            <td>{{transact.receiver.account_number|default:"-"}}</td>
                      
                            {% else %}
                          
                            <td>{{transact.account_name|default:"-"}}</td>
                            <td>{{transact.acc_no|default:"-"}}</td>
                             
                            {% endif %}
    
                            {% if transact.transaction_type == "credit" %}
                            <td style="color:green">+{{user.wallet.currency.code}} {{transact.amount|to_decimal|intcomma}}</td>
                            {% else %}
                            <td style="color:red">-{{user.wallet.currency.code}}  {{transact.amount|to_decimal|intcomma}}</td>
                            {% endif %}
           
                            <td style="color:red">-{{user.wallet.currency.code}} {{transact.charge|to_decimal|intcomma}}</td>
                          
                          
                            {% if transact.description %}
                            <td>{{transact.description}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if transact.status == "failed" %}
                            <td><div class="badge badge-danger">Failed</div></td>
                            {% else %}
                              {% if transact.status == "processing" %}
                              <td><div class="badge badge-warning">Processing</div></td>
                              {% else %}
                              {% if transact.status == "pending" %}
                              <td><div class="badge badge-info">Pending</div></td>
                              {% else %}
                              {% if transact.status == "successful" %}
                              <td><div class="badge badge-success">successful</div></td>
                              {% endif %}
                              {% endif %}
                            {% endif %}
                            {% endif %}
                            
                           
                            <td>{{transact.status_message|default:"-"}}</td>
                            <td>{{transact.show_date}}</td>
                            <td>
                             
                              {% if transact.status == 'pending' %}
                              <a href="{% url 'complete-transaction' transact.transaction_id %}"><div class="badge badge-primary">finalize</div></a>
                              {% else %}
                              -
              
                              {% endif %}
                            </td>
                            
                           
                           
                            
                          </tr>
                          {% endfor %}
                      
                        </table>
                      </div>

                    {% else %}
                    {% include "empty.html" with text="you have no successful transactions at the moment, they would appear here." %}
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="pending-trx">
                    {% if pending_transactions %}

                    <div class="table-responsive" style="max-width: 700px;">
                        <table class="table table-striped">
                          <tr>
                         
                            <th>Trnsaction ID</th>
                            <th>Transaction Type</th>
                            <th>Recipient</th>
                            <th>Account Number</th>
                            <th>Amount</th>
                            <th>Charge</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Status Log</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        
                          {% for transact in pending_transactions %}
                          <tr>
                            
                            <td>{{transact.transaction_id}}</td>
                            {% if transact.transaction_type == "credit" %}
                            <td style="color:green">{{transact.transaction_type}}</td>
                            {% else %}
                            <td style="color:red">{{transact.transaction_type}}</td>
                            {% endif %}
                            
                            {% if transact.nature == "Internal Transfer" %}
                            <td>{{transact.receiver|default:"-"}}</td>
                            <td>{{transact.receiver.account_number|default:"-"}}</td>
                      
                            {% else %}
                          
                            <td>{{transact.account_name|default:"-"}}</td>
                            <td>{{transact.acc_no|default:"-"}}</td>
                             
                            {% endif %}
    
                            {% if transact.transaction_type == "credit" %}
                            <td style="color:green">+{{user.wallet.currency.code}} {{transact.amount|to_decimal|intcomma}}</td>
                            {% else %}
                            <td style="color:red">-{{user.wallet.currency.code}}  {{transact.amount|to_decimal|intcomma}}</td>
                            {% endif %}
           
                            <td style="color:red">-{{user.wallet.currency.code}} {{transact.charge|to_decimal|intcomma}}</td>
                          
                          
                            {% if transact.description %}
                            <td>{{transact.description}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if transact.status == "failed" %}
                            <td><div class="badge badge-danger">Failed</div></td>
                            {% else %}
                              {% if transact.status == "processing" %}
                              <td><div class="badge badge-warning">Processing</div></td>
                              {% else %}
                              {% if transact.status == "pending" %}
                              <td><div class="badge badge-info">Pending</div></td>
                              {% else %}
                              {% if transact.status == "successful" %}
                              <td><div class="badge badge-success">successful</div></td>
                              {% endif %}
                              {% endif %}
                            {% endif %}
                            {% endif %}
                            
                           
                            <td>{{transact.status_message|default:"-"}}</td>
                            <td>{{transact.show_date}}</td>
                            <td>
                             
                              {% if transact.status == 'pending' %}
                              <a href="{% url 'complete-transaction' transact.transaction_id %}"><div class="badge badge-primary">finalize</div></a>
                              {% else %}
                              -
              
                              {% endif %}
                            </td>
                            
                           
                           
                            
                          </tr>
                          {% endfor %}
                      
                        </table>
                      </div>
                  

                    {% else %}
                    {% include "empty.html" with text="you have no pending transactions at the moment, they would appear here." %}
                    {% endif %}

                </div><!-- .tab-pane -->

                <div class="tab-pane fade" id="failed">
                    {% if failed_transactions %}
                    <div class="table-responsive" style="max-width: 700px;">
                        <table class="table table-striped">
                          <tr>
                         
                            <th>Trnsaction ID</th>
                            <th>Transaction Type</th>
                            <th>Recipient></th>
                            <th>Account Number</th>
                            <th>Amount</th>
                            <th>Charge</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Status Log</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        
                          {% for transact in failed_transactions %}
                          <tr>
                            
                            <td>{{transact.transaction_id}}</td>
                            {% if transact.transaction_type =="credit" %}
                            <td style="color:green">{{transact.transaction_type}}</td>
                            {% else %}
                            <td style="color:red">{{transact.transaction_type}}</td>
                            {% endif %}
                            
                            {% if transact.nature =="Internal Transfer" %}
                            <td>{{transact.receiver|default:"-"}}</td>
                            <td>{{transact.receiver.account_number|default:"-"}}</td>
                      
                            {% else %}
                          
                            <td>{{transact.account_name|default:"-"}}</td>
                            <td>{{transact.acc_no|default:"-"}}</td>
                             
                            {% endif %}
    
                            {% if transact.transaction_type  =="credit" %}
                            <td style="color:green">+{{user.wallet.currency.code}} {{transact.amount|to_decimal|intcomma}}</td>
                            {% else %}
                            <td style="color:red">-{{user.wallet.currency.code}}  {{transact.amount|to_decimal|intcomma}}</td>
                            {% endif %}
           
                            <td style="color:red">-{{user.wallet.currency.code}} {{transact.charge|to_decimal|intcomma}}</td>
                          
                          
                            {% if transact.description %}
                            <td>{{transact.description}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            {% if transact.status == "failed" %}
                            <td><div class="badge badge-danger">Failed</div></td>
                            {% else %}
                              {% if transact.status == "processing" %}
                              <td><div class="badge badge-warning">Processing</div></td>
                              {% else %}
                              {% if transact.status == "pending" %}
                              <td><div class="badge badge-info">Pending</div></td>
                              {% else %}
                              {% if transact.status == "successful" %}
                              <td><div class="badge badge-success">successful</div></td>
                              {% endif %}
                              {% endif %}
                            {% endif %}
                            {% endif %}
                            
                           
                            <td>{{transact.status_message|default:"-"}}</td>
                            <td>{{transact.show_date}}</td>
                            <td>
                             
                              {% if transact.status == 'pending' %}
                              <a href="{% url 'complete-transaction' transact.transaction_id %}"><div class="badge badge-primary">finalize</div></a>
                              {% else %}
                              -
              
                              {% endif %}
                            </td>
                            
                           
                           
                            
                          </tr>
                          {% endfor %}
                      
                        </table>
                      </div>
                    {% else %}
                    {% include "empty.html" with text="you have no failed transactions at the moment, they would appear here." %}
                    {% endif %}


                </div><!-- .tab-pane -->
            </div><!-- .tab-content -->

            {% endif %}
        </div>

    </div><!-- .user-panel -->
</div><!-- .user-content -->






{% endblock %}